// CUSTOM BOOTSTRAP

// Definir variables personalizadas
$primary-color: var(--bs-indigo);
$secondary-color: #6c757d;

:root {
--bs-border-radius: 1.375rem;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}