/* Sidebar.module.scss */
.sidebar {
  
  &.collapsed {
    width: 50px;
  }

  &.expanded {
    width: 200px;
  }
}

.toggleButton {
  width: 100%;
}

.navLink {
  color: white;
  text-decoration: none;

  &:hover {
    background-color: #495057;
  }
}
